.App {
  text-align: center;
}

.dot {
  border-radius: 50px;
  height: 25px;
  width: 25px;
  margin: 5px;
}

.dot-fill-green {
  background-color: green;
}

.dot-fill-orange {
  background-color: orange;
}

.dot-fill-red {
  background-color: red;
}

.dot-empty {
  background-color: #ddd;
}

.container {
  /* display: flex; */
}

.player-list {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}
